@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

@layer base {
  .list {
    @apply transition-all duration-500 ease-in-out;
  }

  .list-enter,
  .list-leave-to {
    opacity: 0;
    transform: scale(0);
  }

  .list-enter-to {
    opacity: 1;
    transform: scale(1);
  }

  .input {
    @apply shadow;
    @apply appearance-none;
    @apply border;
    @apply rounded;
    @apply w-full;
    @apply my-2;
    @apply py-3;
    @apply px-4;
    @apply text-gray-700;
    @apply leading-tight;
    &:focus {
      @apply outline-none;
    }
  }

  .button {
    @apply inline-flex;
    @apply items-center;
    @apply my-2;
    @apply justify-center;
    @apply w-full;
    @apply border;
    @apply bg-indigo-400;
    @apply text-white;
    @apply py-3;
    @apply px-4;
    @apply rounded;
    @apply select-none;
    @apply transition;
    @apply duration-500;
    @apply ease-in-out;
    &:hover {
      @apply bg-indigo-500;
    }
  }
}

@layer components {
  .card {
    @apply bg-white;
    @apply shadow-md;
    @apply rounded;
    @apply border;
    @apply duration-500;
    @apply ease-in-out;
    @apply p-6;
    @apply m-8;
    &:hover {
      @apply shadow-lg border-black;
    }
  }
  .center {
    @apply grid;
    @apply items-center;
    @apply justify-center;
    @apply min-h-screen;
  }
}
